<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 
    <title>{% block title%}Home{% endblock %}</title>
  </head>
<body>    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ToDoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sign-up">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">logout</a>
                </li>
              </ul>
        </div>
      </nav>
      <!-- navbar end -->
      <!-- flash -->
      {% with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
        {% for category,message in messages%}
        {% if category == "error"%}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert">
            X
          </button>
        </div>
        {%else%}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert">
            X
          </button>
        </div>
        {%endif%}
      
        {%endfor%}
        {%endif%}
      {%endwith%}
      <!-- flash end -->
      <!-- content block -->
      <div class="container">
        {%block content%}
        {% endblock%}
      </div>
      <!-- content block end -->

   
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
