{% extends "base.html" %}
{% block title%}Home{% endblock %}
{%block content%}


<div class="card mt-2">
    <div class="card-header">
        Add Tasks
    </div>
    <div class="card-body">
        
        <form method="post">
            <div class="form-group">
                <label for="note">Note</label>
                <textarea class="form-control" id="note" rows="3" name="note"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        Tasks
    </div>
    <div class="card-body">
        <ul class="list-group">

            {% for note in user.notes%}
            <li class="list-group-item">
                {{note.data}}
                <button type="button" class="btn btn-danger" onclick="deleteNote({{note.id}})">Delete</button>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock%}
